
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isDeveloper() {
        return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.state in ['dev', 'owner'];
    }

    function isShardOwner(userId) {
      // Helper function to check ownership of all pokemon in a shard.
      // Every pokemon in the 'pokemon' array must have a 'userId' that matches the owner of the shard.
      return request.resource.data.pokemon.size() == request.resource.data.pokemon.filter(p => p.userId == userId).size();
    }

    // Rules for user profiles
    match /users/{userId} {
      // Anyone can read a public profile
      allow read: if true;
      // Only the owner can create or update their own profile
      allow create, update: if isOwner(userId);
      
      // Rules for user-specific hunts
      match /hunts/{huntId} {
        allow read, update, delete: if isOwner(userId);
        allow create: if isOwner(userId) && request.resource.data.userId == request.auth.uid;
      }

      // Rules for user-specific Pokémon shards
      match /pokemonShards/{shardId} {
        // Anyone can read a user's pokemon list
        allow read: if true;
        // A user can only delete their own shard.
        allow delete: if isOwner(userId);
        // A user can only create or update a shard if they are the owner
        // AND every pokemon inside the shard belongs to them.
        allow create, update: if isOwner(userId) && isShardOwner(userId);
      }

      // Rules for following other users
      match /following/{followedUserId} {
      	// A user can only manage their own following list
        allow read, create, delete: if isOwner(userId);
        // Ensure the data being written is just a timestamp
        allow create: if request.resource.data.keys().hasOnly(['followedAt']);
      }
    }
    
    // Rules for changelog
    match /changelog/{postId} {
        // Anyone can read the changelog
        allow read: if true;
        // Only developers can write to the changelog
        allow create, update, delete: if isDeveloper();
    }
  }
}
