rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Rules for user profiles
    match /users/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
      
      // Rules for user-specific hunts
      match /hunts/{huntId} {
        allow read, write, delete: if isOwner(userId);
      }
    }
  }
}
